@media(max-width: 1439px) {
    .wrapper .furniture .furniture_about_block {
        display: flex;
        flex-direction: column;
    }
    .wrapper .furniture .furniture_about_block .block_furniture1 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        .img2 {
            margin: 0;
            margin-top: 16px;
        }
        .img3 {
            margin: 0;
            margin-top: 16px;
        }
    }
    .wrapper .furniture .furniture_about_block .block_furniture2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .wrapper .furniture .furniture_about_block .block_furniture3 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        .img6 {
            margin: 0;
            margin-bottom: 16px;
        }
    }
}
@media(max-width: 1250px) {
    .rooms {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .rooms_about_block_text {
            margin-bottom: 50px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 20px;
        }
        .wrapper .rooms_slider_about_block {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
@media(max-width: 1200px) {
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: 400px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
}
@media(max-width: 1000px) {
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: 260px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
}
@media(max-width: 960px) {
    .form_search .icon_search {
        width: 350px;
    }
    .header_slider .slick-arrow {
        right: 90px;
    }
}
@media(max-width: 960px) {
    .quality {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .quality_about_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .quality_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 10px;
            .quality_block_text {
                margin-left: 0 !important;
                margin-top: 10px;
            }
        }
    }
}
@media(max-width: 900px) {
    .wrapper .rooms_slider_about_block .slick-arrow {
        position: absolute;
        right: 150px;
        top: 520px;
    }
}
@media(max-width: 880px) {
    .header_block .header_slider .slick-dots {
        display: none !important;
    }
    .form_search .icon_search {
        width: 250px;
    }
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: 190px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
}

@media(max-width: 830px) {
    .wrapper .rooms_slider_about_block .slick-dots {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 20px;
        bottom: -60px;
    }
    .wrapper .rooms_slider_about_block .slick-arrow {
        display: none !important;
    }
}
@media(max-width: 740px) {
    .header_nav_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        padding: 0 10px;
    }
    .header_block {
        padding-top: 10px;
    }
    .header_nav ul {
        li {
            margin: 0 7px;
        }
    }
    .personal_area {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        a {
            margin: 0;
            text-align: center;
            margin-top: 5px;
        }
    }
    .header_slider_about_block {
        max-width: 400px;
        height: 450px;
        padding: 60px 60px;
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
        position: relative;
        left: 0;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-family: 'Gilroy-Bold';
            font-size: 36px;
            color: $black;
            line-height: 35px;
            padding: 0;
            margin: 0;
        }
        p {
            font-family: 'Gilroy-Medium';
            font-size: 16px;
            color: #898989;
            line-height: 30px;
            margin: 0;
            padding: 0;
            margin-top: 15px;
        }
        button {
            max-width: 374px;
            height: 78px;
            width: 100%;
            outline: none;
            background: $rusty;
            color: $white;
            font-size: 16px;
            font-family: 'Gilroy-SemiBold';
            margin-top: 48px;
            border: none;
        }
    }
    .header_slider .slick-arrow {
        display: none !important;
    }
    .inl {
        right: 200px;
        bottom: 30px;
    }
}
@media(max-width: 700px) {
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: 100px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
}
@media(max-width: 550px) {
    .inl {
        right: 350px;
        bottom: 30px;
    }
    .wrapper .rooms_slider_text {
        right: -60px;
        bottom: 50px;
    }
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: 40px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
}
@media(max-width: 400px) {
    .tips_tricks .tips_tricks_about_slider_block .block5 .slick-dots  {
        position: absolute;
        left: -45px;
        bottom: -50px;
        display: flex;
        flex-direction: row;
    }
    .tips_tricks .tips_tricks_about_slider_block .block5 .tips_tricks_block .tips_tricks_block_text {
        h4 {
            font-size: 20px;
            padding: 0 30px;
        }
        p {
            font-size: 14px;
            padding: 0 30px;
        }
    }
}